/* === Modal === */
.modal {
    max-width: 500px;
}

.modal-content {
    padding: 30px;
    font-size: 1rem;
    line-height: 1.6;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}

.modal-footer .btn-flat {
    color: #002f6c;
    font-weight: 500;
}
