/* === Utils === */
.center-align {
    text-align: center;
}

.right {
    float: right;
}

.section-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #002f6c;
    margin-bottom: 20px;
}
