<div id="info-modal" class="modal">
    <div class="modal-content">
        <h4>Reglas de la Penca</h4>
        <p>¡Bienvenido a la penca de la Copa América 2024!</p>
        <p>Estas son las reglas para participar:</p>
        <ul>
            <li><strong>1. Registro:</strong> Debes registrarte con un nombre de usuario y una dirección de correo electrónico válida.</li>
            <li><strong>2. Predicciones:</strong> Puedes ingresar tus predicciones para cada partido hasta 30 minutos antes de su inicio.</li>
            <li><strong>3. Puntaje:</strong>
                <ul>
                    <li>Resultado exacto: 3 puntos.</li>
                    <li>Resultado correcto (ganador/empate): 1 punto.</li>
                    <li>Adivinar la cantidad de goles de uno de los equipos: 1 punto adicional.</li>
                </ul>
            </li>
            <li><strong>4. Modificación de Predicciones:</strong> No podrás modificar tus predicciones una vez que el partido haya comenzado o si queda menos de 30 minutos para su inicio.</li>
            <li><strong>5. Resultados Reales:</strong> Solo los administradores pueden ingresar los resultados reales de los partidos.</li>
        </ul>
        <p>¡Buena suerte y que gane el mejor!</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn waves-effect waves-light blue darken-3">Cerrar</button>
    </div>
</div>
