body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to right, #d3cce3, #e9e4f0); /* Gradiente de fondo suave */
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1 0 auto;
}

header {
    margin-bottom: 20px;
}

.brand-logo img {
    height: 50px;
}

.nav-wrapper ul li a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.tabs .tab a {
    color: #0d47a1;
}

.tabs .tab a.active {
    color: #0d47a1;
    border-bottom: 2px solid #0d47a1;
}

.tabs .indicator {
    background-color: #0d47a1;
}

.match-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.match-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    display: flex;
    align-items: center;
}

.team img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.team .team-name {
    font-weight: bold;
    font-size: 1.2em;
}

.match-details {
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

.result-input {
    width: 50px;
    text-align: center;
}

.tick-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.page-footer {
    background-color: #0d47a1;
    padding-top: 20px;
}

.page-footer .container {
    display: flex;
    justify-content: center;
}

.page-footer ul {
    list-style: none;
    padding: 0;
}

.page-footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.page-footer ul li a img {
    height: 24px;
    vertical-align: middle;
}
