body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fafafa;
}

.container {
    flex: 1 0 auto;
}

header {
    margin-bottom: 20px;
}

.brand-logo img {
    height: 50px;
}

.nav-wrapper ul li a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

h1, h2 {
    color: #0d47a1;
}

.card-title, .modal h4 {
    color: #0d47a1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}

.btn {
    background-color: #0d47a1;
}

.file-field .btn {
    background-color: #0d47a1;
}

.file-path-wrapper .file-path:focus {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}

.match-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.match-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    display: flex;
    align-items: center;
}


.team img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.team .team-name {
    font-weight: bold;
    font-size: 1.2em;
}

.match-details {
    text-align: center;
    font-size: 1.2em;
}

.result-input {
    width: 50px;
    text-align: center;
}
