<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Copa América 2024</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body data-role="<%= user.role %>" data-username="<%= user.username %>">
    <header>
        <nav class="blue darken-3">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo"><img src="/images/Logo.png" alt="Logo" class="responsive-img" style="height: 50px;"></a>
                <ul class="right">
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
                            <img src="<%= user.avatar ? '/avatar/' + user.username : '/images/avatar.webp' %>" alt="Avatar" class="circle responsive-img" style="height: 50px;">
                        </a>
                    </li>
                </ul>
                <ul id="user-dropdown" class="dropdown-content">
                    <li><a href="#" id="logout-button">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <ul class="tabs">
            <li class="tab col s3"><a href="#fixture" class="active">Fixture</a></li>
            <li class="tab col s3"><a href="#predictions">Predicciones</a></li>
            <li class="tab col s3"><a href="#ranking">Ranking</a></li>
        </ul>
        
        <div id="fixture" class="col s12">
            <div id="matches-list" class="row"></div>
        </div>
        <div id="predictions" class="col s12">
            <div id="predictions-list" class="row"></div>
        </div>
        <div id="ranking" class="col s12">
            <!-- Contenido para ranking -->
        </div>
    </div>
    <footer class="page-footer blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contacto</h5>
                    <p class="grey-text text-lighten-4">Puedes encontrarme en LinkedIn y GitHub.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/renzodogliotti/">
                                <img src="/images/linkedin.png" alt="LinkedIn" class="responsive-img" style="height: 24px; vertical-align: middle;"> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://github.com/renzosdd">
                                <img src="/images/github.png" alt="GitHub" class="responsive-img" style="height: 24px; vertical-align: middle;"> GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>
