<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Editar competencia</span>
      <form id="competition-edit-form">
        <div class="row">
          <div class="input-field col s12 m6">
            <select id="competitionSelectEdit"></select>
            <label>Competencia</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="competitionNewName" type="text">
            <label for="competitionNewName">Nuevo nombre</label>
          </div>
          <div class="col s12">
            <button class="btn waves-effect" type="submit">Actualizar competencia</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-content">
      <ul id="competitionList" class="collection with-header">
        <li class="collection-header"><h5>Competencias Existentes</h5></li>
        <!-- Lista dinámica de competencias aquí -->
      </ul>
    </div>
  </div>
</div>
