<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Crear owner</span>
      <form id="owner-form">
        <div class="row">
        <div class="input-field col s12 m4">
          <input id="ownerUser" name="username" type="text" required>
          <label for="ownerUser">Username</label>
        </div>
        <div class="input-field col s12 m4">
        <input id="ownerEmail" name="email" type="email" required>
        <label for="ownerEmail">Email</label>
      </div>
      <div class="input-field col s12 m4">
        <input id="ownerPassword" name="password" type="password" required>
        <label for="ownerPassword">Contraseña</label>
      </div>
        <div class="col s12">
          <button class="btn waves-effect" type="submit">Crear Owner</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Editar owner</span>
      <form id="owner-edit-form">
        <div class="row">
        <div class="input-field col s12 m4">
          <select id="ownerSelectEdit"></select>
          <label>Owner</label>
        </div>
        <div class="input-field col s12 m4">
        <input id="ownerEditUsername" type="text">
        <label for="ownerEditUsername">Nuevo username</label>
      </div>
      <div class="input-field col s12 m4">
        <input id="ownerEditEmail" type="email">
        <label for="ownerEditEmail">Nuevo email</label>
      </div>
        <div class="col s12">
          <button class="btn waves-effect" type="submit">Actualizar Owner</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Owners Existentes</span>
    <table id="ownerTable" class="highlight responsive-table">
      <thead>
        <tr>
          <th>Username</th>
          <th class="right-align">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
