<div class="row">
  <form id="penca-form" class="col s12" method="POST" enctype="multipart/form-data" action="/admin/pencas">
    <div class="row">
      <div class="input-field col s12 m4">
        <input id="pencaName" name="name" type="text" required>
        <label for="pencaName">Nombre de la penca</label>
      </div>
      <div class="input-field col s12 m4">
        <input id="pencaLimit" name="participantLimit" type="number" min="1">
        <label for="pencaLimit">Límite de participantes</label>
      </div>
      <div class="input-field col s12 m4">
        <select id="pencaOwner" name="owner"></select>
        <label>Owner</label>
      </div>
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Fixture JSON</span>
          <input type="file" name="fixture" accept="application/json">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Sube fixture opcional">
        </div>
      </div>
      <div class="col s12">
        <button class="btn waves-effect" type="submit">Crear Penca</button>
      </div>
    </div>
  </form>
</div>
  
  <ul id="pencaList" class="collection with-header">
    <li class="collection-header"><h5>Pencas existentes</h5></li>
  </ul>
  