<div class="row">
  <div class="col s12">
    <h5>Configuraciones generales</h5>
  </div>
  <div class="col s12">
    <button id="recalculate-btn" class="btn red darken-1">Recalcular Puntajes</button>
  </div>
</div>
