<div class="row">
    <div class="input-field col s12 m6">
      <select id="user-select">
        <option disabled selected>Elige un usuario</option>
      </select>
      <label>Usuarios</label>
    </div>
    <div class="col s12 m6">
      <a href="#" id="prev-users" class="btn-flat"><i class="material-icons">chevron_left</i></a>
      <a href="#" id="next-users" class="btn-flat"><i class="material-icons">chevron_right</i></a>
    </div>
  </div>
  